/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        Capsword {
            bindings = <&caps_word>;
            key-positions = <52 55>;
        };
    };

    behaviors {
        oneshot: oneshot {
            compatible = "zmk,behavior-sticky-key";
            label = "os";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
            quick-release;
            ignore-modifiers;
        };

        layer_oneshot_hold: lo_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "lo_hold";
            bindings = <&mo>, <&oneshot>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            quick-tap-ms = <200>;
            hold-while-undecided;
        };

        home_row_mod_right: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            retro-tap;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53>;
        };

        ltmiryoku: mlt {
            compatible = "zmk,behavior-hold-tap";
            label = "LTMIRYOKU";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
        };

        home_row_mod_left: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 54 55 56 57>;
        };
    };

    macros {
        pin: pin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N2 &kp N8 &kp N0 &kp N4 &kp N1 &kp N9 &kp N9 &kp N0>;
            label = "PIN";
        };

        pw: pw {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(D) &kp U &kp L &kp A &kp N &kp N7 &kp N8 &kp N9>;
            label = "PW";
        };

        email: email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp A &kp N &kp T &kp H &kp O &kp N &kp Y &kp DOT &kp T &kp O &kp H &kp AT &kp C &kp H &kp A &kp N &kp G &kp I &kp A &kp I &kp R &kp P &kp O &kp R &kp T &kp DOT &kp C &kp O &kp M>;
            label = "EMAIL";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
&kp GRAVE       &kp Q                          &kp W                          &kp F                              &kp P                            &kp B                                                       &kp J                   &kp L                         &kp U                                &kp Y                            &kp APOS                         &none
&caps_word      &home_row_mod_left LEFT_GUI A  &home_row_mod_left LEFT_ALT R  &home_row_mod_left LEFT_CONTROL S  &home_row_mod_left LEFT_SHIFT T  &kp G                                                       &kp M                   &home_row_mod_right RSHIFT N  &home_row_mod_right RIGHT_CONTROL E  &home_row_mod_right RIGHT_ALT I  &home_row_mod_right RIGHT_GUI O  &none
&kp LEFT_SHIFT  &kp Z                          &kp X                          &kp C                              &kp D                            &kp V &kp K                   &kp H                         &kp COMMA                            &kp DOT                          &kp FSLH                         &none
&kp LCTRL       &kp LALT                       &kp LGUI                       &none                              &none                            &none             &mo 9                 &kp C_MUTE          &none                   &none                         &none                                &none                            &none                            &none
                                                                              &none                              &ltmiryoku 3 ESCAPE              &ltmiryoku 3 TAB  &ltmiryoku 1 SPACE    &ltmiryoku 5 ENTER  &ltmiryoku 4 BACKSPACE  &kp DELETE                    &none
            >;

            sensor-bindings = <
              &inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN
              &inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN
            >;

            label = "Base";
        };

        Nav {
            bindings = <
&none  &none      &none     &none     &none      &none                          &none  &kp LG(LEFT)  &kp PAGE_DOWN  &kp PAGE_UP   &kp RG(RIGHT)  &none
&none  &kp LCTRL  &kp LALT  &kp LGUI  &kp LSHFT  &none                          &none  &kp LEFT      &kp DOWN       &kp UP_ARROW  &kp RIGHT      &none
&none  &none      &none     &none     &none      &none    &none  &kp HOME      &kp PAGE_DOWN  &kp PAGE_UP   &kp END        &none
&none  &none      &none     &none     &none      &none &none            &none &none  &none         &none          &none         &none          &none
                            &none     &none      &none  &kp LS(MINUS)    &none  &none  &none         &none
            >;

            label = "Nav";
        };

        Mouse {
            bindings = <
&none  &none      &none     &none     &none      &none                  &none  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none
&none  &kp LCTRL  &kp LALT  &kp LGUI  &kp LSHFT  &none                  &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &none
&none  &none      &none     &none     &none      &none  &none  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none
&none  &none      &none     &none     &none      &none &none    &none &none  &none           &none           &none         &none            &none
                            &none     &none      &none  &none    &none  &none  &none           &none
            >;

            label = "Mouse";
        };

        Numpad {
            bindings = <
&none  &none     &none     &none      &none      &none                      &kp LS(N8)  &kp N7        &kp N8        &kp N9        &kp MINUS      &none
&none  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none                      &kp FSLH    &kp N4        &kp N5        &kp N6        &kp LS(EQUAL)  &none
&none  &none     &none     &none      &none      &none &kp COMMA   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp SLASH      &none
&none  &none     &none     &none      &none      &none  &none    &none      &none       &pw           &pin          &none         &none          &none
                           &none      &none      &none  &none    &kp EQUAL  &kp N0      &kp DOT       &none
            >;

            label = "Numpad";
        };

        Symbols {
            bindings = <
&none  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)        &kp LS(N4)         &kp GRAVE                          &none  &none      &none      &none     &none     &none
&none  &kp LS(N5)  &kp LS(N6)  &kp LS(N7)        &kp BSLH           &none                              &none  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &none
&none  &kp LS(N9)  &kp RS(N0)  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none   &none  &none      &none      &none     &none     &none
&none  &none       &none       &none             &none              &none    &none            &none &none  &none      &none      &none     &none     &none
                               &none             &none              &none      &kp LS(MINUS)    &none  &none  &none      &none
            >;

            label = "Symbols";
        };

        Function {
            bindings = <
&none  &none     &none     &none      &none      &none                  &none  &kp C_MUTE  &kp C_VOL_DN      &kp C_VOL_UP  &none  &none
&none  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none                  &none  &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT    &none  &none
&none  &none     &none     &none      &none      &none  &none  &none       &none             &none         &none  &none
&none  &none     &none     &none      &none      &none &none    &none &none  &none       &none             &none         &none  &none
                           &none      &none      &none  &none    &none  &none  &none       &none
            >;

            label = "Function";
        };

        L_Base {
            display-name = "Base";
            bindings = <
&kp GRAVE       &kp Q     &kp W     &kp F  &kp P                &kp B                                                       &kp J                   &kp L       &kp U      &kp Y    &kp APOS  &none
&caps_word      &kp A     &kp R     &kp S  &kp T                &kp G                                                       &kp M                   &kp N       &kp E      &kp I    &kp O     &none
&kp LEFT_SHIFT  &kp Z     &kp X     &kp C  &kp D                &kp V      &kp K                   &kp H       &kp COMMA  &kp DOT  &kp FSLH  &none
&kp LCTRL       &kp LALT  &kp LGUI  &none  &none                &none          &none                 &kp C_MUTE       &none                   &none       &none      &none    &none     &none
                                    &none  &ltmiryoku 3 ESCAPE  &ltmiryoku 3 TAB  &ltmiryoku 1 SPACE    &ltmiryoku 5 ENTER  &ltmiryoku 4 BACKSPACE  &kp DELETE  &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>,
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;

            label = "L_Base";
        };

        L_Nav {
            label = "L_Nav";
            bindings = <
&none  &none      &none     &none     &none      &none                          &none  &kp LG(LEFT)  &kp PAGE_DOWN  &kp PAGE_UP   &kp RG(RIGHT)  &none
&none  &kp LCTRL  &kp LALT  &kp LGUI  &kp LSHFT  &none                          &none  &kp LEFT      &kp DOWN       &kp UP_ARROW  &kp RIGHT      &none
&none  &none      &none     &none     &none      &none  &none  &kp HOME      &kp PAGE_DOWN  &kp PAGE_UP   &kp END        &none
&none  &none      &none     &none     &none      &none &none            &none &none  &none         &none          &none         &none          &none
                            &none     &none      &none  &kp LS(MINUS)    &none  &none  &none         &none
            >;
        };

        L_Numpad {
            label = "L_Numpad";
            bindings = <
&none  &none     &none     &none      &none      &none                      &kp LS(N8)  &kp N7        &kp N8        &kp N9        &kp MINUS      &none
&none  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none                      &kp FSLH    &kp N4        &kp N5        &kp N6        &kp LS(EQUAL)  &none
&none  &none     &none     &none      &none      &none  &kp COMMA   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp SLASH      &none
&none  &none     &none     &none      &none      &none &none    &none     &none       &pw           &pin          &none         &none          &none
                           &none      &none      &none  &none    &kp EQUAL  &kp N0      &kp DOT       &none
            >;
        };

        Mode {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;

            label = "Mode";
        };

        L_Mirror {
            bindings = <
&trans    &kp APOS  &kp Y    &kp U      &kp L   &kp J                     &trans  &trans  &trans  &trans  &trans  &trans
&kp SEMI  &kp O     &kp I    &kp E      &kp N   &kp M                     &trans  &trans  &trans  &trans  &trans  &trans
&trans    &kp FSLH  &kp DOT  &kp COMMA  &kp H   &kp K  &trans  &trans  &trans  &trans  &trans  &trans
&trans    &trans    &trans   &trans     &trans  &trans  &trans    &trans &trans  &trans  &trans  &trans  &trans  &trans
                             &trans     &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;

            label = "L_Mirror";
        };
    };
};
